---
layout: page
title: 
subtitle: 
use-site-title: true
fb-img:
---
<center>
<img src="{{ site.baseurl }}/assets/img/banner.png" style="border-radius: 15px;">
</center>
<br>

<center>
<h1><em>Code, Practices, and People</em></h1>
</center>
<br>

{% assign callouts=site.data.callouts %}

      <div class="grid grid-col-3">
        {% for callout in callouts.items %}
        <div class="grid-item">
          <div class="grid-item-inside"  style="background-color: #eeeeee;">
            <h3 class="grid-item-title line-left">
             {{ callout.title }}
            </h3>
            <div class="grid-item-content">
               <p>{% if callout.subtitle %}{{ callout.subtitle | newline_to_br }}{% endif %}
               {% if callout.description %}{{ callout.description | newline_to_br }}{% endif %}
               </p>
            </div>
            <div class="grid-item-buttons">
            {% if callout.link %}
            <a href="{{ callout.link | relative_url }}" style="color: var(--info); visited: var(--info); hover: var(--infodk);">
             {{ callout.link_name }}</a>{% endif %}
            </div>
          </div>
        </div>{% endfor %}
      </div>
<br><br>

<div class="sectionheader">
  <center>
<h2 class="sectionheader"> Conference Sponsors </h2>
  </center>
</div>

<div>
    <br>
<a href="https://sloan.org/">
    <img src="{{ site.baseurl }}/assets/img/sponsor-logos/sloan.png"
         style="display: block; margin-left: auto; margin-right: auto; width: 20%;"
         alt="Sloan Foundation logo">
</a>
</div>
